border-top-1px($color)
  position: relative

  &::before
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    content: ''
    border-top: 1px solid $color

border-bottom-1px($color)
  position: relative

  &::after
    position: absolute
    bottom: 0px
    left: 0px
    width: 100%
    content: ''
    border-top: 1px solid $color

border-right-1px($color)
  position: relative

  &::after
    position: absolute
    bottom: 0px
    right: 0px
    width: 0
    height: 100%
    content: ''
    border-right: 1px solid $color

border-left-1px($color)
  position: relative

  &::after
    position: absolute
    bottom: 0px
    left: 0px
    width: 0
    height: 100%
    content: ''
    border-left: 1px solid $color

border-top-none()
  &::before
    display: none

border-bottom-none()
  &::after
    display: none

border-right-none()
  &::after
    display: none

bg-img($url)
  background-image: url($url + '@2x.png')

  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
    background-image: url($url + '@3x.png')
